{% extends "base.html" %}
{% block content %}

<main class="form-main">
    <div class="form-div">
        <h1 class="form-heading">Edit Business</h1>
        <form action="#" class="form" id="edit-form">
            <div class="form-group">
                <label for="edit-business-name" class="form-label">Business Name</label>
                <input class="form-control business-name" type="text" id="edit-business-name" name="business-name" required>
            </div>
            
            <div class="form-group">
                <label for="edit-business-description" class="form-label">Description</label>
                <textarea class="form-control business-description" id="edit-business-description" name="business-description" required></textarea>
            </div>

            <div class="form-group">
                <label for="edit-category" class="form-label">Category</label>
                <select class="form-select category" id="edit-category" name="category" required>
                    <option value="">Please select a category</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Painter">Painter</option>
                    <option value="Electrician">Electrician</option>
                    <option value="Dog-Groomer">Dog-Groomer</option>
                    <option value="Dog-Sitter">Dog-Sitter</option>
                </select>
            </div>

            <div class="form-group">
                <label for="edit-phone" class="form-label">Number</label>
                <input type="tel" class="form-control phone" id="edit-phone" name="phone" pattern="[0-9]{11}" placeholder="Please only use numbers and remove spaces">
            </div>

            <div class="form-group">
                <label for="edit-email" class="form-label">Email</label>
                <input type="email" class="form-control email" id="edit-email" name="email">
            </div>

            <div class="form-group">
                <label for="edit-website" class="form-label">Website</label>
                <input type="text" class="form-control website" id="edit-website" name="website">
            </div>

            <div class="form-group">
                <label for="edit-image" class="form-label">Image URL</label>
                <input type="url" class="form-control image" id="edit-image" name="image">
            </div>

            <input type="submit" value="Submit" class="form-submit">
        </form>
    </div>
</main>

{% endblock %}
