{% extends "base.html" %}
{% block content %}

<section id="home-section">
    <h1 id="home-heading">I'm Looking For A Buisness</h1>
</section>
<main id="cards-main">
  {% for business in businesses %}
   <div class="card"> 
    <img class="card-img-top" src="{{ business.image_url }}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{ business.business_name }}</h4>
      <p class="card-text">{{ business.business_description }}
      </p>
      <div class="contact-details">
        <p>Number: {{ business.phone }}</p>
        <p>Email: {{ business.email }}</p>
        <p>Website: {{ business.website }}</p>
        <button class="btn btn-primary toggle-button close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <button class="btn btn-primary toggle-button">Contact Details</button>
    </div>
  </div>
  {% endfor %}
</main>
<section>
  <ul class="pagination">
    <li class="page-item pagination-arrow"><p class="page-link"><i class="fa-solid fa-chevron-left"></i></p></li>
    <li class="page-item"><p class="page-link">1</p></li>
    <li class="page-item pagination-arrow"><p class="page-link"><i class="fa-solid fa-chevron-right"></i></p></li>
  </ul>
</section>

{% endblock %}