{% extends "base.html" %}
{% block content %}

<section id="home-section">
    <h1 id="home-heading">I'm Looking For A</h1>
    <div class="dropdown">
        <button id ="home-button" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
          Business
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Trades & Home Services</li>
          <li><a class="dropdown-item" href="#">Electricians</a></li>
          <li><a class="dropdown-item" href="#">Plumbers</a></li>
          <li><a class="dropdown-item" href="#">HVAC Technicians</a></li>
          <li><a class="dropdown-item" href="#">Roofers</a></li>
          <li><a class="dropdown-item" href="#">Carpenters</a></li>
          <li><a class="dropdown-item" href="#">Painters</a></li>
          <li><a class="dropdown-item" href="#">Handyman Services</a></li>
          <li><a class="dropdown-item" href="#">Landscapers & Gardeners</a></li>
        
          <li class="dropdown-header">Automotive</li>
          <li><a class="dropdown-item" href="#">Auto Repair</a></li>
          <li><a class="dropdown-item" href="#">Auto Detailing</a></li>
          <li><a class="dropdown-item" href="#">Tire & Battery Services</a></li>
      
          <li class="dropdown-header">Pet Services</li>
          <li><a class="dropdown-item" href="#">Dog Grooming</a></li>
          <li><a class="dropdown-item" href="#">Dog Walking</a></li>
          <li><a class="dropdown-item" href="#">Pet Sitting</a></li>
        
          <li class="dropdown-header">Personal Care</li>
          <li><a class="dropdown-item" href="#">Hair Stylists & Barbers</a></li>
          <li><a class="dropdown-item" href="#">Nail Technicians</a></li>
          <li><a class="dropdown-item" href="#">Massage Therapists</a></li>
        
          <li class="dropdown-header">Cleaning Services</li>
          <li><a class="dropdown-item" href="#">House Cleaning</a></li>
          <li><a class="dropdown-item" href="#">Carpet Cleaning</a></li>
          <li><a class="dropdown-item" href="#">Window Cleaning</a></li>
        
          <li class="dropdown-header">Childcare & Education</li>
          <li><a class="dropdown-item" href="#">Daycare Providers</a></li>
          <li><a class="dropdown-item" href="#">Tutors</a></li>
          <li><a class="dropdown-item" href="#">Nannies & Babysitters</a></li>
        
          <li class="dropdown-header">Event Services</li>
          <li><a class="dropdown-item" href="#">Event Planners</a></li>
          <li><a class="dropdown-item" href="#">Caterers</a></li>
          <li><a class="dropdown-item" href="#">Event Venues</a></li>
      </ul>      
        
      </div>
</section>
<main id="cards-main">
  {% for business in businesses %}
   <div class="card"> 
    <img class="card-img-top" src="{{ business.image_url }}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{ business.business_name }}</h4>
      <p class="card-text">{{ business.business_description }}
      </p>
      <div class="contact-details">
        <p>Number: {{ business.phone }}</p>
        <p>Email: {{ business.email }}</p>
        <p>Website: {{ business.website }}</p>
        <button class="btn btn-primary toggle-button close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <button class="btn btn-primary toggle-button">Contact Details</button>
    </div>
  </div>
  {% endfor %}
</main>
<section>
  <ul class="pagination">
    <li class="page-item pagination-arrow"><p class="page-link"><i class="fa-solid fa-chevron-left"></i></p></li>
    <li class="page-item"><p class="page-link">1</p></li>
    <li class="page-item pagination-arrow"><p class="page-link"><i class="fa-solid fa-chevron-right"></i></p></li>
  </ul>
</section>

{% endblock %}