{% extends "base.html" %}
{% block content %}

<section id="home-section">
    <h1 id="home-heading">I'm Looking For A</h1>
    <div class="dropdown">
        <button id ="home-button" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
          Business
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Retail & E-Commerce</li>
            <li><a class="dropdown-item" href="#">Clothing & Apparel</a></li>
            <li><a class="dropdown-item" href="#">Electronics</a></li>
            <li><a class="dropdown-item" href="#">Health & Beauty Products</a></li>
            <li><a class="dropdown-item" href="#">Home Goods</a></li>
            <li><a class="dropdown-item" href="#">Specialty Foods</a></li>
        
            <li class="dropdown-header">Food & Beverage</li>
            <li><a class="dropdown-item" href="#">Restaurants</a></li>
            <li><a class="dropdown-item" href="#">Cafés & Coffee Shops</a></li>
            <li><a class="dropdown-item" href="#">Bakeries</a></li>
            <li><a class="dropdown-item" href="#">Food Trucks</a></li>
            <li><a class="dropdown-item" href="#">Catering Services</a></li>
        
            <li class="dropdown-header">Services</li>
            <li><a class="dropdown-item" href="#">Personal Services</a></li>
            <li><a class="dropdown-item" href="#">Home Services</a></li>
            <li><a class="dropdown-item" href="#">Professional Services</a></li>
            <li><a class="dropdown-item" href="#">Health & Wellness</a></li>
            <li><a class="dropdown-item" href="#">Education & Tutoring</a></li>
        
            <li class="dropdown-header">Creative & Digital</li>
            <li><a class="dropdown-item" href="#">Graphic Design</a></li>
            <li><a class="dropdown-item" href="#">Web Development</a></li>
            <li><a class="dropdown-item" href="#">Photography & Videography</a></li>
            <li><a class="dropdown-item" href="#">Content Creation</a></li>
            <li><a class="dropdown-item" href="#">Arts & Crafts</a></li>
        
            <li class="dropdown-header">Technology</li>
            <li><a class="dropdown-item" href="#">IT Support</a></li>
            <li><a class="dropdown-item" href="#">Software Development</a></li>
            <li><a class="dropdown-item" href="#">Tech Retail</a></li>
            <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
        
            <li class="dropdown-header">Travel & Hospitality</li>
            <li><a class="dropdown-item" href="#">Travel Agencies</a></li>
            <li><a class="dropdown-item" href="#">Bed & Breakfasts</a></li>
            <li><a class="dropdown-item" href="#">Tour Guides</a></li>
            <li><a class="dropdown-item" href="#">Event Planning</a></li>
        
            <li class="dropdown-header">Manufacturing & Production</li>
            <li><a class="dropdown-item" href="#">Custom Manufacturing</a></li>
            <li><a class="dropdown-item" href="#">Local Artisan Goods</a></li>
            <li><a class="dropdown-item" href="#">Packaging Solutions</a></li>
        
            <li class="dropdown-header">Automotive</li>
            <li><a class="dropdown-item" href="#">Repair & Maintenance</a></li>
            <li><a class="dropdown-item" href="#">Detailing Services</a></li>
            <li><a class="dropdown-item" href="#">Auto Parts</a></li>
        
            <li class="dropdown-header">Health & Medical</li>
            <li><a class="dropdown-item" href="#">Pharmacies</a></li>
            <li><a class="dropdown-item" href="#">Medical Practices</a></li>
            <li><a class="dropdown-item" href="#">Alternative Medicine</a></li>
        
            <li class="dropdown-header">Financial Services</li>
            <li><a class="dropdown-item" href="#">Insurance</a></li>
            <li><a class="dropdown-item" href="#">Investment Services</a></li>
            <li><a class="dropdown-item" href="#">Tax Services</a></li>
        
            <li class="dropdown-header">Real Estate</li>
            <li><a class="dropdown-item" href="#">Property Management</a></li>
            <li><a class="dropdown-item" href="#">Real Estate Agencies</a></li>
            <li><a class="dropdown-item" href="#">Home Staging</a></li>
        
            <li class="dropdown-header">Non-Profit & Community Services</li>
            <li><a class="dropdown-item" href="#">Charities</a></li>
            <li><a class="dropdown-item" href="#">Social Enterprises</a></li>
        
            <li class="dropdown-header">Trades</li>
            <li><a class="dropdown-item" href="#">Plumbers</a></li>
            <li><a class="dropdown-item" href="#">Roofers</a></li>
            <li><a class="dropdown-item" href="#">Electricians</a></li>
            <li><a class="dropdown-item" href="#">Carpenters</a></li>
            <li><a class="dropdown-item" href="#">HVAC Technicians</a></li>
        
            <li class="dropdown-header">Miscellaneous</li>
            <li><a class="dropdown-item" href="#">Pet Services</a></li>
            <li><a class="dropdown-item" href="#">Event Venues</a></li>
            <li><a class="dropdown-item" href="#">Subscription Services</a></li>
        </ul>
        
      </div>
</section>
<main id="cards-main">
  <div class="card"> 
    <img class="card-img-top" src="https://www.simplybusiness.co.uk//wp-content/uploads/sites/3/2024/06/how-to-become-a-florist.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Becca's flowers</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin velit sed feugiat bibendum. Integer posuere, nisi id sollicitudin efficitur, urna magna efficitur odio, in blandit justo nulla eu libero. Phasellus sit amet nisi venenatis, viverra velit.
      </p>
      <div class="contact-details">
        <p>Number: 07526802682</p>
        <p>Email: Fakeemail@hotmail.co.uk</p>
        <p>Website: <a href="#">www.website.co.uk</a></p>
        <button class="btn btn-primary toggle-button close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <button class="btn btn-primary toggle-button">Contact Details</button>
    </div>
  </div>
  <div class="card"> 
    <img class="card-img-top" src="https://www.simplybusiness.co.uk//wp-content/uploads/sites/3/2024/06/how-to-become-a-florist.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Becca's flowers</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin velit sed feugiat bibendum. Integer posuere, nisi id sollicitudin efficitur, urna magna efficitur odio, in blandit justo nulla eu libero. Phasellus sit amet nisi venenatis, viverra velit.
      </p>
      <div class="contact-details">
        <p>Number: 07526802682</p>
        <p>Email: Fakeemail@hotmail.co.uk</p>
        <p>Website: <a href="#">www.website.co.uk</a></p>
        <button class="btn btn-primary toggle-button close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <button class="btn btn-primary toggle-button">Contact Details</button>
    </div>
  </div>
  <div class="card"> 
    <img class="card-img-top" src="https://www.simplybusiness.co.uk//wp-content/uploads/sites/3/2024/06/how-to-become-a-florist.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Becca's flowers</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin velit sed feugiat bibendum. Integer posuere, nisi id sollicitudin efficitur, urna magna efficitur odio, in blandit justo nulla eu libero. Phasellus sit amet nisi venenatis, viverra velit.
      </p>
      <div class="contact-details">
        <p>Number: 07526802682</p>
        <p>Email: Fakeemail@hotmail.co.uk</p>
        <p>Website: <a href="#">www.website.co.uk</a></p>
        <button class="btn btn-primary toggle-button close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <button class="btn btn-primary toggle-button">Contact Details</button>
    </div>
  </div>
</main>

{% endblock %}