{% extends "base.html" %}
{% block content %}

<main id="profile-main">
  <h1 id="profile-heading">Your Businesses</h1>

  <!-- Add Business and Sign Out buttons -->
  <button type="button" class="btn btn-primary btn-lg">
    <a id="add-button-anchor" href="{{ url_for('add') }}">Add Business <i class="fa-solid fa-circle-plus"></i></a>
  </button>
  <button id="sign-out-button" type="button" class="btn btn-primary btn-lg">
    <a id="sign-out-anchor" href="{{ url_for('sign_out') }}">Sign Out</a>
  </button>
  <button id="user-delete-button" type="button" class="btn btn-danger btn-lg">
    <a id="user-delete-anchor" href="#">Delete account</a>
  </button>

  <!-- List of businesses -->
  <ul id="profile-list" class="list-group">
    <!-- Loop through businesses and display each one -->
    {% for business in businesses %}
      <li class="list-group-item">
        {{ business.business_name }}
        <div>
        <!-- Edit button -->
        <span><a href="{{ url_for('edit', business_id=business.id) }}"><button type="button" class="btn btn-outline-primary">Edit</button></a></span>
        <!-- Delete button -->
        <span><button type="button" data-bs-toggle="modal" data-bs-target="#myModal-{{ business.id }}" class="btn btn-outline-danger">Delete</button></span>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal-{{ business.id }}">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete {{ business.business_name }}?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <!-- Delete confirmation -->
                <a href="{{ url_for('delete_business', business_id=business.id) }}" class="btn btn-danger">Yes, Delete</a>
              </div>

            </div>
          </div>
        </div>
        <!-- End Modal -->

          </div>
      </li>
    {% else %}
      <li class="list-group-item">You have no businesses yet. Add one using the button above!</li>
    {% endfor %}
  </ul>
</main>

{% endblock %}
