{% extends "base.html" %}
{% block content %}

<main id="profile-main">
  <h1 id="profile-heading">Your Businesses</h1>
  <button type="button" class="btn btn-primary btn-lg"><a id ="add-button-anchor" href = "{{ url_for('add') }}">Add Business <i class="fa-solid fa-circle-plus"></i></a></button>
  <button id="sign-out-button" type="button" class="btn btn-primary btn-lg"><a id="sign-out-anchor" href = "{{ url_for('signOut') }}">Sign Out</a></button>
  <ul id="profile-list" class="list-group">
    <li class="list-group-item">First item
    <span><a href="{{ url_for('edit') }}"><button type="button" class="btn btn-outline-primary">Edit</button></a></span>
    <span><button type="button" class="btn btn-outline-danger">Delete</button></span>
    </li>
  </ul>
</main>

{% endblock %}