body{
    font-family: "Roboto", sans-serif;
}

.navbar-collapse{
    justify-content: flex-end;
    font-family: "Dosis", sans-serif;
}

header{
    font-size:1.5em;
}

.nav-link{
    transition: background-color 0.3s ease;
    transition: color 0.2s ease;
}

.nav-link:hover{
    background-color: #0582ca;
    color:white;
}

footer{
    width: 100%;
    background-color:#0582ca ;
    color: white;
    padding: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer p{
    margin-bottom:0;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;  /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.dropdown-header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color:#0582ca;
}

.dropdown-item:hover {
    background-color: grey;
}

#home-section{
    display:flex;
    justify-content: center;
    padding:60px;
    background-color: #0582ca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#home-heading{
    color:white;
}

#home-button{
    background-color:white;
    color:black;
    margin-left:10px;
    transition: background-color 0.3s ease;
}

#home-button:hover{
    background-color: grey;
}

#cards-main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;;
}

.card{
    width:300px;
    margin-top:60px;
    position: relative;
}

.contact-details{
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    font-size:1.2em;
}

.close-button{
border: none;
display: block;
margin: auto;
transition: color 0.1s ease;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination-arrow .page-link:hover{
    background-color: #0582ca;
    color:white;
}

#add-form-main{
    background-color: #003554;
    padding-top:20px;
    padding-bottom:20px;
}

#add-form-div{
    display:flex;
    flex-direction: column;
    padding:10px;
    margin-top:30px;
    margin-left: 20%;
    margin-right:20%;
    color:black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-form-heading{
    align-self: center;
    margin-bottom:10px;
}

.form-group{
    margin-bottom: 15px;
}
#add-form{
    display:flex;
    flex-direction: column;
}

#add-form-submit{
    width:100px;
    align-self: center;
}

#add-form-submit:hover{
    background-color:#0582ca;
    color:white;
}

@media (max-width: 461px){
   #home-section{
    flex-direction: column;
    align-items: center;
   }
}

@media (max-width: 329px){
    #home-section{
     flex-direction: column;
     align-items: center;
    }
    #home-heading{
        font-size: 1.5em;
    }
 }
